[% META title = 'Proposition areas'
%]

[% areas = C.proposition_area.revlist('is') %]

<h3>[% aloc(title) %]</h3>

<table>
  <tr>
    <th>[% aloc('Area') %]</th>
  </tr>
  [% FOREACH area IN areas %]
    <tr class="oddeven">
      <td>
        [% IF u.level < 20; area.desig; ELSE; area.wu_jump; END %]
      </td>
    </tr>
  [% END %]
</table>
