[% META title = 'About GOV'
%]
<div class="breadcrumbs"><a title="Gå till Hem." href="http://aktivdemokrati.se/"><img src="http://aktivdemokrati.se/forum/styles/prosilver-ad/theme/images/icon_home.gif" alt=""> Hem</a> ‹ 
<a title="Gå till Valsystemet (GOV)." href="$home/">Valsystemet</a> ‹ 
<a title="Ladda om nuvarande sida." href="$me">GOV</a>
</div>

<h1 class="entry-title">[% aloc(title) %]</h1>

[% alocpp() %]
