<div class="median_proposition">
<p>[% aloc('Median value') %]: [% prop.predicted_resolution_vote %]</p>
<p>[% prop.wu_vote %]</p>

<h3>[% locnl('Delegates') %]</h3>

  [% FOREACH voted IN prop.delegate_votes %]
     [% jump(voted.delegate.as_html, "$home/member/delegate.tt", id=voted.delegate.id);' '; locnl('voted');' '; voted.vote.as_html %]
     [% IF !loop.last; '<br/>'; END %]
  [% END %]
</div>
