<table class="yay_nay_proposition">
<tr>
   <th class="nay"><span class="percent">[% count.nay_rel_percent%]</span>
                   [% count.nay %] [%+ aloc('Nay') %]</th>
   <th class="blank">[% count.blank %] [%+ aloc('Blank') %]</th>
   <th class="yay"><span class="percent">[% count.yay_rel_percent%]</span>
                   [% count.yay %] [%+ aloc('Yay') %]</th>
</tr>
</table>
