[% META title = "Configuration"
   level = 20
   next_action = 'node_update'
%]

[%
  gov = C.gov_db;
  hidden('id',gov.id);
%]

<table class="admin min">
<tr><td>[% gov.wu('has_public_votes', tdlabel=locn('Public votes')) %]
<tr><td>[% gov.wu('has_public_members', tdlabel=locn('Public members')) %]
</table>

[% step %]
