[% META title = 'Delete member'
        level = 1
	next_action = 'member_delete'
	next_template = '~$home/'
%]

[%
	IF u.has_root_access;
          id = q.param('id');
    END;
	DEFAULT id = u.id;
	hidden('id', id);
	m = get(id);
	UNLESS m.is(C.login_account);
          THROW validation "$id is not a login account";
    END;
%]


[% alocpp %]

<p>
  [% submit(locn('Delete account'), 'user_delete',
            tag_attr={class='delete-user-button'}) %]
</p>
