[% META title = 'Recover your account'
	next_action = 'member_lost_password'
        next_template = 'login.tt'
%]

<h3>[% loc('Lost your password?') %]</h3>

<p>
  [% loc("Fill in username or e-mail address and we'll send you a new password.") %]
</p>

<table>
  <tr><td>[% input('username', '', tdlabel=loc('Username')) %]</td></tr>
  <tr><td>[% input('email', '', tdlabel=loc('E-mail address')) %]</td></tr>
</table>

[% submit(loc('Send')) %]
