[% META title = 'Recover your account'
	next_action = 'member_lost_password'
        next_template = '~$home/login.tt'
%]

<h1>[% aloc(title) %]</h1>

[% alocpp %]

<table>
  <tr><td>[% input('username', '', tdlabel=locnl('Username')) %]</td></tr>
  <tr><td>[% input('email', '', tdlabel=locnl('E-mail address')) %]</td></tr>
</table>

[% submit(locn('Send')) %]
