[% META title = 'User registred'
%]
[% CALL locn(title) %]

<div class="breadcrumbs">[% alocppg('breadcrumbs_prefix') %] › 
<a title="[% locnl('Reload current page') %]." href="$me">[% loc(title) %]</a>
</div>

[% alocpp %]
