# -*-cperl-*-

$VAR1 = {
	 'gov_root'    => '/usr/local/gov',
	 'rb_root'    => '/usr/local/rb',
	 'paraframe'  => '/usr/local/pf',
         'dbconnect'  => ['dbi:Pg:dbname=gov'],
	 'port'       => 7801,
	 'debug'      => 1,
	 'do_bgjob'   => 1,
	 'send_email' => 1,
	 'md5_salt'   => 'secret_server_salt',
	 'site' =>
	 {
	  'gov' =>
	  {
	   'webhome' => '/~jonas/gov/html',
	   'webhost' => 'hem.jonas.liljegren.org',
	  },
	 },
        };
