[% META title = 'Proposition vote alternative'
%]
[%
   alt = get(q.param('id'));
#   prop = alt.first_revprop('has_alternative');
#   area = prop.area;
%]

<p style="float:right">[% jump(locnl('Show details'), "$home/proposition/vote_alternative.tt", id=alt.id, href_target='vote_alternative') %]</p>
[% IF alt.has_url %]
  <p>[% jump(locnl('Discussion'), alt.has_url, href_target='vote_discussion') %]</p>
[% END %]

[% alt.has_body.loc %]
