/* custom css */

a.button:hover, input[type="reset"]:hover, input[type="button"]:hover, input[type="submit"]:hover {
    font-weight: 600!important;
    margin: 0!important;
}
.menu li li, .menu li li:hover {
    padding: 0!important;
}
