body
{
    font-size: 12px;
}

#branding { float: left; margin-right:1em }
#branding h1 { margin: 0; white-space:nowrap; }
#branding h1 a {text-decoration:none; color:black }
#branding h3 { margin-top: 0; white-space:nowrap; }
#branding img

/* A random-picked proposition */
div#example {
    border: 1px outset grey;
    padding: 1ex;
    margin: 1em;
}
div.highprop {
    margin-bottom: 1em;
}

.gov_area h2
{ 
  font-style: italic;
  margin-bottom:0;
  padding-bottom:0;
  }

table.admin
{ 
  margin-bottom:0.5em;
  }

.gov_area
{ 
  border-left: 0.2em solid blue;
  padding-left: 0.5em;
  }


#prop_description
{
    width: 50%;
    float: left;
    font-size: 1.2em;
    padding-right: 1em;
    margin-right: 1em;
    border-right: 1px solid black;
}

#prop_menu
{
    border-bottom: thick solid blue;
    padding-bottom: 0.5em;
}

#prop_menu a
{
    margin: 1em;
    padding: 0.1em;
    background: #DDD;
}

.yay_nay_proposition
{
    width: 100%;
}

.yay_nay_proposition th.nay
{
    background: red;
    width: 35%;
}

.yay_nay_proposition th.yay
{
    background: green;
    width: 35%;
}

.yay_nay_proposition th.blank
{
    background: yellow;
    width: 30%;
}

.yay_nay_proposition td.selected
{
    border: medium double black;
}

/***********************************/

#menu {

float: left;
font-family: "Trebuchet MS",Trebuchet,Helvetica,Sans-serif;
}

#menu ul {
list-style: none;
margin: 0;
padding: 0;
width: 12em;
float: left;
}

#menu a, #menu h2 {
display: block;
border-width: 1px;
border-style: solid;
border-color: #ccc #888 #555 #bbb;
margin: 0;
padding: 2px 3px;
}

#menu h2 {

color: #fff;
background: #333;
text-transform: uppercase;
font-size: 1em;
}

#menu a {
color: #000;
background: #efefef;
text-decoration: none;
}

#menu a:hover {
color: #333;
background: #fff;
}

#menu li {position: relative;}

#menu ul ul {
position: absolute;
z-index: 500;
}

#menu ul ul ul {
position: absolute;
top: 0;
left: 100%;
}


div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}



/***********************************/

.debug
{
  border-top: 0.2em dotted;
}