body
{
    font-size: 12px;
}

#branding { float: left; margin-right:1em }
#branding h1 { margin: 0; white-space:nowrap; }
#branding h1 a {text-decoration:none; color:black }
#branding h3 { margin-top: 0; white-space:nowrap; }
#branding img

/* A random-picked proposition */
div#example {
    border: 1px outset grey;
    padding: 1ex;
    margin: 1em;
}
div.highprop {
    margin-bottom: 1em;
}

.gov_area h2
{ 
  font-style: italic;
  margin-bottom:0;
  padding-bottom:0;
  }

table.unvoted
{ 
  margin-bottom:0.5em;
  }

.gov_area
{ 
  border-left: 0.2em solid blue;
  padding-left: 0.5em;
  }


#prop_description
{
    width: 50%;
    float: left;
    font-size: 1.2em;
    padding-right: 1em;
    margin-right: 1em;
    border-right: 1px solid black;
}

#prop_menu
{
    border-bottom: thick solid blue;
    padding-bottom: 0.5em;
    clear: both;
}

#prop_menu a
{
    margin: 1em;
    padding: 0.1em;
    background: #DDD;
}

.prop_discussion_link
{
    text-align: right;
}

.yay_nay_proposition
{
    width: 100%;
}

#content .yay_nay_proposition tr th.nay
{
    background: red;
    color: black;
    width: 35%;
}

#content .yay_nay_proposition tr th.yay
{
    background: green;
    color: black;
    width: 35%;
}

#content .yay_nay_proposition tr th.blank
{
    background: yellow;
    color: black;
    width: 30%;
}

.yay_nay_proposition td.selected
{
    border: medium double black;
}

.not_translated td.phrase
{
    border-left: thick solid red;
}
.translated td.phrase
{
    border-left: thick solid green;
}

tr.odd
{
    background-color: #F0F0F0;
}


/***********************************/
/*
#menu {
float: left;
font-family: "Trebuchet MS",Trebuchet,Helvetica,Sans-serif;
}

#menu ul {
list-style: none;
margin: 0;
padding: 0;
width: 15em;
float: left;
}

#menu a, #menu h2 {
display: block;
border-width: 1px;
border-style: solid;
border-color: #ccc #888 #555 #bbb;
margin: 0;
padding: 2px 3px;
}

#menu h2 {

color: #fff;
background: #333;
text-transform: uppercase;
font-size: 1em;
}

#menu a {
color: #000;
background: #efefef;
text-decoration: none;
}

#menu a:hover {
color: #333;
background: #fff;
}

#menu li {position: relative;}

#menu ul ul {
position: absolute;
z-index: 500;
}

#menu ul ul ul {
position: absolute;
top: 0;
left: 100%;
}


div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}

*/

/*
a#pf_reload
{
    position: fixed;
    right: 0px;
}

#pf_req_count
{
    float: right;
    padding: 0 28px 0 1px;
    font-size: 0.8em;
}

#pf_admin_mode
{
    float: right;
}
*/


/***********************************/

.debug
{
  border-top: 0.2em dotted;
}

table td
{
    vertical-align:top;
}

td.ro_field
{
    border: 2px inset grey;
}

div.paraframe_main
{
    clear: both;
}

table.yay_nay_proposition td, table.yay_nay_proposition th
{
    border-left: 2px solid #000;
}

table.yay_nay_proposition td:first-child, table.yay_nay_proposition th:first-child
{
    border-left: 1px solid #E7E7E7;
}


/***********************************/
/* STYLE for Aktiv Demokrat */

a#pf_reload
{
    float: right;
}

#pf_req_count
{
    float: right;
}

#pf_admin_mode
{
    float: right;
}

div.gov #primary.widget-area {
    background: #FFA600;
}

div.gov #primary.widget-area h1
{
    font-size4: 2em;
    font-style: italic;
    font-weight: normal;
    color: #333333;
    font-family: Verdana,Arial,sans-serif;
    text-align: right;
}

div.gov #primary.widget-area h2
{
    margin-top: 0.5em;
}

div.gov #primary.widget-area div.paraframe_menu_admin_pf
{
    padding-top: 1em;
    border-top: thin solid white;
    margin-top: 1em;
}

div.gov #primary.widget-area .same_place
{
    color: black;
}

div#content table
{
    margin: 0 0 0.5em 0;
}

div#content table td
{
    padding: 0 0.2em;
}

div#content .gov_area
{
    margin-bottom: 2em;
}

div#content table caption
{
    margin-top: 1em;
    font-weight: bold;
}

div#content table th
{
    white-space:nowrap;
}

#content table.min
{
    width: auto;
    border: 0;
}

#content table.min td
{
    padding: 0 0.5em 0 0;
    border: 0;
}

#content h4
{
    margin-top: 1em;
}