body
{
    font-size: 12px;
}

a {text-decoration:none }

#branding { float: left; margin-right:1em }
#branding h1 { margin: 0; white-space:nowrap; }
#branding h1 a {color:black }
#branding h3 { margin-top: 0; white-space:nowrap; }
#branding img

/* A random-picked proposition */
div#example {
    border: 1px outset grey;
    padding: 1ex;
    margin: 1em;
}
div.highprop {
    margin-bottom: 1em;
}

.gov_area h2
{ 
  font-style: italic;
  margin-bottom:0;
  padding-bottom:0;
  }

table.unvoted
{ 
  margin-bottom:0.5em;
  }

.gov_area
{ 
  border-left: 0.2em solid #88C;
  padding-left: 0.5em;
  border-top-left-radius: 5px 20px;
  -moz-border-radius-topleft:  5px 20px;
  border-bottom-left-radius: 5px 20px;
  -moz-border-radius-bottomleft: 5px 20px;
  }


#content table#prop_info
{
    border: 0;
}

#content #prop_description
{
/*    width:50%;*/
    width:342px;
    max-width:342px;
    font-size: 1.2em;
    border: 0;
    border-right: thin solid black;
}

#prop_description .content
{
    margin-bottom: 1em;
}

#content #prop_facts
{
    border: 0;
    padding-left: 0.5em;
}

#content p.prop_discussion_link
{
    position: absolute;
    float: right;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
}

#prop_menu
{
    border-bottom: thick solid #DDF;
    padding-bottom: 0.5em;
    clear: both;
    text-align: center;
}

#prop_menu a
{
    margin: 1em;
    padding: 0.1em;
    background: #DDD;
}

.yay_nay_proposition
{
    width: 100%;
}

.yay_nay_proposition .percent
{
    float: right;
}

#content .yay_nay_proposition tr th.nay
{
    background: #F33;
    color: black;
    width: 35%;
}

#content .yay_nay_proposition tr th.yay
{
    background: #3F3;
    color: black;
    width: 35%;
}

#content .yay_nay_proposition tr th.blank
{
    background: yellow;
    color: black;
    width: 30%;
}

.yay_nay_proposition td.selected
{
    border: medium double black;
}

.not_translated td.phrase
{
    border-left: thick solid red;
}
.translated td.phrase
{
    border-left: thick solid green;
}

tr.odd
{
    background-color: #F0F0F0;
}

#prop_status
{
    border: thin solid black;
    margin-top: -1em;
    margin-bottom: 1em;
    padding: 0.5em;
    overflow: auto;
}

#membership_status
{ 
    border: thin solid black;
    margin-bottom: 1em;
    padding: 0.5em;
    overflow: auto;
}

#prop_status p, #membership_status p
{
    margin: 0;
}

.not_logged_in
{
    background: #FFB;
}

#prop_status.prop_resolved
{
    background: #DDF;
}

#prop_status.not_a_member
{
    background: #F62;
}

#membership_status.membership_joined
{ 
  display: none;
}

#membership_status.membership_free
{ 
  background: #BFB;
}
#membership_status.membership_can_apply
{ 
  background: #DDF;
}

#membership_status.membership_restricted
{ 
  background: #F62;
}



p.rb-access
{
    float: right;
    margin-left: 1em;
}

.vote_alternatives td
{
    white-space:nowrap; 
}


/***********************************/
/*
#menu {
float: left;
font-family: "Trebuchet MS",Trebuchet,Helvetica,Sans-serif;
}

#menu ul {
list-style: none;
margin: 0;
padding: 0;
width: 15em;
float: left;
}

#menu a, #menu h2 {
display: block;
border-width: 1px;
border-style: solid;
border-color: #ccc #888 #555 #bbb;
margin: 0;
padding: 2px 3px;
}

#menu h2 {

color: #fff;
background: #333;
text-transform: uppercase;
font-size: 1em;
}

#menu a {
color: #000;
background: #efefef;
}

#menu a:hover {
color: #333;
background: #fff;
}

#menu li {position: relative;}

#menu ul ul {
position: absolute;
z-index: 500;
}

#menu ul ul ul {
position: absolute;
top: 0;
left: 100%;
}


div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}

*/

/*
a#pf_reload
{
    position: fixed;
    right: 0px;
}

#pf_req_count
{
    float: right;
    padding: 0 28px 0 1px;
    font-size: 0.8em;
}

#pf_admin_mode
{
    float: right;
}
*/


/***********************************/

.debug
{
  border-top: 0.2em dotted;
}

table td
{
    vertical-align:top;
}

td.ro_field
{
    border: 2px inset grey;
}

div.paraframe_main
{
    clear: both;
}

table.yay_nay_proposition td, table.yay_nay_proposition th
{
    border-left: 2px solid #000;
}

table.yay_nay_proposition td:first-child, table.yay_nay_proposition th:first-child
{
    border-left: 1px solid #E7E7E7;
}

#alt-info
{
    width: 340px;
    left: 560px;
    z-index: 1;
    background: #DDDDDD;
    border: thin solid #BBBBBB;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    padding: 0.5em;
    position: absolute;
    opacity: 0;
}

#alt-info .title
{
    padding-right: 1em;
    font-weight: bold;
    width: 330px;
}

#alt-info .title a
{
    display: block;
}

#alt-info .ui-icon-closethick
{
    height: 16px;
    width: 16px;
    float: right;

/*
    position: absolute;
    right: 0.3em;
    top: 0.3em;
*/
}

#prop_description img,
#content .content img
{
    max-width: 100%;
}

.gov_sortlist
{
  list-style-type: none;
  margin: 0 0 0.5em;
  padding: 1em 0;
  width: 80%;
}

.gov_sortlist li
{
    height: 1.25em;
    line-height: 1.3em;
    overflow: hidden;
    cursor: move;
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    font-size: 1.1em;
}

.gov-placement .selected
{
    background: yellow;
}

.gov_sortlist li.selected
{
    background: yellow;
}

a#pf_reload
{
    float: right;
}

#pf_req_count
{
    float: right;
}

#pf_admin_mode
{
    float: right;
}

div.gov #primary.widget-area {
    background: #FFA600;
}

/*
div.gov #primary.widget-area h1
{
    font-size4: 2em;
    font-style: italic;
    font-weight: normal;
    color: #333333;
    font-family: Verdana,Arial,sans-serif;
    text-align: right;
}
*/

div.gov #primary.widget-area h2
{
    margin-top: 0.5em;
}

div.gov #primary.widget-area div.paraframe_menu_admin_pf
{
    padding-top: 1em;
    border-top: thin solid white;
    margin-top: 1em;
}

div#content table
{
    margin: 0 0 0.5em 0;
}

div#content table td
{
    padding: 0 0.2em;
}

div#content .gov_area
{
    margin-bottom: 2em;
}

div#content table caption
{
    margin-top: 1em;
    font-weight: bold;
}

div#content table th
{
    white-space:nowrap;
}

#content table.min
{
    width: auto;
    border: 0;
}

#content table.min td
{
    padding: 0 0.5em 0 0;
    border: 0;
}

#content h4
{
    margin-top: 1em;
}

#content h1.entry-title
{
    margin-bottom: 1em;
}

.widget-area .same_place
{
    font-weight: bold;
    letter-spacing: 0;
    background: inherit;
}

.widget-area .same_place a
{
    color: white;
}

#content tr th.min
{
    padding: 0 2px 0 0;
}

.paraframe_box
{
    overflow:auto;
    width: 667px;
}

#content .paraframe_box pre
{
    font-size:1em;
    line-height: normal;
    background: inherit;
    padding: 0.2em;
}

.gov #primary.widget-area
{ 
  position: relative;
  background: #4D2D09; 
  right:4px;
  top: 2px;
  width: 183px;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  padding-top: 5px;
  line-height: 1.3em;
  color: white;
  }

#prop_menu .paraframe_imgexpand
{
    background: inherit;
}

div#content table.compact
{
    font-size: x-small;
}

div#content table.compact th
{
    font-size: x-small;
    white-space: normal;
    padding: 0.2em 0.2em;
}

.delete-user-button
{
    float: right;
}

.delete-user-link
{
    float: right;
}

input[disabled='disabled']
{
    color: #BBB !important;
}

input[disabled='disabled']:hover
{
    background: inherit;
}

#searchform
{
    visibility: hidden;
}

.tipsy-inner { max-width: 300px !important; }