<div id="first" class="widget-area"><ul class="xoxo">
<li id="text-6" class="widget-container widget_text">
<div class="textwidget">
<a href="http://aktivdemokrati.se/" >Aktiv Demokrati</a>: <a href="http://aktivdemokrati.se/kontakt/" >kontakt@aktivdemokrati.se</a>
</div></li></ul></div><!-- #first .widget-area -->
