<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
[%
mnp = main_node_param;
DEFAULT mnp = 'id';
mnid = q.param(mnp);
IF mnid;
  main_node = get(mnid);
  debug(main_node.sysdesig);
  description = main_node.as_excerpt;
END;
%]
    [% DEFAULT otitle = title %]
    <title>[% PROCESS title.tt %]</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    [%+ site.css.header(css) +%]
    <link rel="stylesheet" id='responsive-style-css' type="text/css" media="all" href="http://aktivdemokrati.se/wp-content/themes/ad-3/style.css?ver=3.3" >
    <!-- link rel="stylesheet" href="http://aktivdemokrati.se/wp-content/themes/ad-3/ad-style.css?v=3.2" type="text/css" media="all" -->
    [%+ favicon_header(favicon) +%]
    [%+ IF description %]<meta name="description" content="[% description | html %]" >[% END +%]
    [% IF keywords %]<meta name="keywords" content="[% keywords | html %]">[% END +%]
    [% IF no_robots_index or no_robots_follow %]
    <meta name="robots" content="[% IF no_robots_index;'no';END %]index,[% IF no_robots_follow;'no';END %]follow" >
    [% END +%]
		[%+ pfinc('header') %]
    <script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="[%home%]/pf/pkg/carhartl-jquery-cookie-1.4.0/jquery.cookie.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="[% home %]/pf/js/pf.js"></script>
    [% PROCESS js_extra.tt # use for loading external scripts! %]
    [% IF header_extra; INCLUDE $header_extra; END %]
  </head>

  <body [% onload %] class="gov[% IF body_class %] $body_class[% END %]">
[% PROCESS border_top.tt %]
