<script type="text/javascript" src="http://aktivdemokrati.se/wp-content/themes/ad-1/js/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="http://aktivdemokrati.se/wp-content/themes/ad-1/js/ad.js"></script>
