<link type="text/css" href="[%home%]/pf/jq/css/smoothness/jquery-ui-1.8.9.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="[%home%]/pf/jq/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="[%home%]/pf/jq/js/jquery-ui-1.8.9.custom.min.js"></script>
